@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

* {
    margin: 0; 
    padding: 0; 
    box-sizing: border-box;
    background: #0d1a2d; 
    font-family: 'Outfit', sans-serif;
}

.attribution 
{ 
    font-size: 11px; 
    text-align: center; 
    color: #ffffff;
}
.attribution a 
{ 
    color: hsl(178, 100%, 50%);
}

.container
{
    display: flex; 
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

.card
{
    height: 625px; 
    width: 375px; 
    background: #15273f;
    border-radius: 25px;
    padding: 25px;  
}

.card h1{
    font-size: 22px; 
    font-weight: 600;
    color: hsl(0, 0%, 100%);
    margin: 10px 0;
}

.card article{
    background: #15273f;
    color: hsl(0, 0%, 100%);
    font-size: 18px; 
    font-weight: 300;
    line-height: 2;
}

.card h1, p, span, img{
    background: #15273f;
}

.product-img{
    width: 100%; 
    height: 60%;
    border-radius: 25px;;
    background:#15273f;  
}

.price-time-container
{
    display: flex; 
    background: #15273f;
    margin: 15px 0; 
    padding-bottom: 25px; 
    border-bottom: 1px solid hsl(215, 32%, 27%);
}

.price-container
{
    display: flex; 
    background: #15273f;
    color: hsl(178, 100%, 50%);
    width: 50%;
    gap: 10px;
}

.time-container{
    display: flex; 
    background: #15273f;
    color: hsla(0, 0%, 100%, 0.562);
    width: 50%;
    justify-content: flex-end;
    gap: 10px;
}

.author-container
{
    display: flex; 
    background: #15273f;
    gap: 25px; 
    align-items: center;
    color:hsla(0, 0%, 100%, 0.568)
}

strong{
    color:hsl(0, 0%, 100%);
    background: #15273f;
    font-weight: 300;
}

.author-container img
{
    height: 12%; 
    width: 12%;
    border: solid white 1px; 
    border-radius: 50%;
}


